body {
    font-size: 20px;
}

h1 {
    text-align: center;
    color: var(--primary);
    background-color: var(--foreground);
}

p {
    line-height: 25px;
}

li {
    margin: 5px;
    font-size: 18px;
}

.section {
    margin: auto;
    margin-top: 7rem;
    width: 60%;
    max-width: 1000px;
    justify-content: center;
}

.title-section {
    margin-top: 4rem;
}

.title-name {
    margin: 0;
    font-size: 2rem;
    color: var(--foreground);
    background-color: var(--background);
}

.title {
    font-size: 6rem;
    text-align: center;
    color: var(--primary);
    background-color: var(--foreground);
    margin: 0;
}

.nav ul {
   list-style: none;
   text-align: center;
}

.nav ul li {
   display: inline-block;
}
